<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.phungkhac.com/family"
            class="com.phungkhac.family.FamilyPackage"
            genModel="model/family.genmodel"/>
   </extension>

</plugin>
